/*
 * Copyright © 2026 by Tobias Erbsland / Erbsland DEV.
 * SPDX-License-Identifier: CC-BY-4.0
 */

.wy-table-responsive table.wrap-lines td, .wy-table-responsive table td {
    white-space: normal !important;
}

.banner {
    width: 100%;
    background-color: #cd5a13;
    color: white;
    padding: 0.5em 3em;
    margin: 0 0 0 10em;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-bottom: 5px solid #e4d3aa;
}

@media screen and (max-width: 768px) {
    .banner {
        margin: 0;
    }
}

